.recommendations
  - if !recommendations.empty?
    %table.ui.striped.table
      %thead
        %tr
          %th Package Names
          %th Cost
          %th Channels supported
      %tbody
        - recommendations[0].each do |p|
          %tr
            %td
              = p["name"]
            %td
              = p["cost"]
            %td
              = p["channel_ids"]

